#!/bin/bash

#
# Set information for git configuration
# Modify the information if necessary
#
declare GIT_USER_NAME="$USER"
declare GIT_USER_EMAIL=

#
# Select the distro that will be used to build the workstation
#
declare -A distros

distros[ubuntu]=true
distros[popOS]=false
distros[arch]=false
distros[nix]=false

#
# tell what you want installed
# If you want a block or item not to be installed, enter false.
#

declare -A packages

#
# Tools
#
## Start Ubuntu Only Tools
# If true, snap will be used as the default for installing apps on Ubuntu
packages[snapd]=false
## End Ubuntu Only Tools
#
packages[aws-cli]=false
packages[curl]=true
packages[docker-docker-compose]=true
packages[gcp-cli]=false
packages[git]=true
packages[htop]=true
packages[kubectl]=true
packages[nano]=true
packages[vim]=true
packages[set-vim-git]=true
#
## Terminal
packages[terminator]=true
packages[tmux]=true
packages[zsh]=true
packages[set-default-zsh]=true
#
## Fonts
packages[source-code-pro]=true

#
# Web Servers
#
packages[apache2]=false
packages[nginx]=false

#
# Databases Servers
#
packages[mysql]=false
packages[postgresql]=false
packages[redis]=false

#
# Programming Languages
#
packages[python]=true
packages[php5.6-fpm]=false
packages[php7.4-fpm]=false
packages[php8.0-fpm]=true
packages[php8.1-fpm]=true
packages[composer]=true
packages[java]=true
packages[node]=true
packages[go]=true
packages[rust]=true
packages[lisp]=true

#
# Desktop Tools
#
packages[anki]=true
packages[dbeaver]=true
packages[mysql-workbench]=false
packages[slack]=true
packages[vscode]=true
packages[intellij]=true
packages[php-storm]=true
packages[remmina]=true
packages[postman]=true
packages[insync]=true
packages[peek]=true
packages[qbittorrent]=true
packages[spotify]=true
packages[stremio]=true
packages[sublime-text]=true
packages[telegram-desktop]=true
packages[vlc]=true
packages[wps_office]=true
packages[xmind]=true
packages[google_chrome]=true
packages[firefox]=true
packages[resp-app]=true
